
html {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #b3ccff, #ffffff);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



body {
  padding: 100px;
}

.link-list {
  padding-top: 40px;
}

.link-list li {
  margin-bottom: 20px;
}

.sublink-list {
  list-style-type: disc;
  padding-left: 20px;
}

.sublink-list li {
  margin-bottom: 10px;
}

.group-header {
  font-weight: bold;
  color: #000;
  font-size: 30px;
  text-decoration: underline;
}

.sublink-list a {
  text-decoration: none;
  color: #0C406A;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: Arial, sans-serif;
    text-align: right;
  }

  .top-right a {
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid #999;
    border-radius: 2px;
  }

  .top-right a:hover {
    background-color: #f0f0f0;
  }

.resized-image {
  display: block;
  float: right;
  width: 11%;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.resized-image:hover {
  transform: translateX(20px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  animation: moveAround 8s linear infinite;
  animation-delay: 0.2s;
}

@keyframes moveAround {
  0% {
    transform: translateX(0) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: translateX(20px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.underline-blue {
  text-decoration: underline;
  color: #413EA3;
}